:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);


    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}
@import url(https://fonts.google.com/specimen/Spartan);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 2rem;
    line-height: 2rem;
}
p{
    
    line-height: 1.5rem;
}
h1,
.brow-text
{

color:var(--Very-Dark-Magenta);
}
.redish-pink{
    color:var(--Soft-Pink);
}
.bg-pink{
    background-color: var(--Very-Dark-Magenta);
    color:var(--White)
}
.top{
    text-align: center;
    color:var(--Dark-Grayish-Magenta)
}
.bg-gray{
    background-color: var(--Light-Grayish-Magenta);
}
body{
    font-family: 'Spartan', sans-serif;
    background-color: var(--White);
    
}
.full-container{
    width: 100%;
    height: 100%;
    padding: 2rem 0;
}
.upper-half{
    width: 100%;

}
section{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.container{
    display: flex;
    flex-direction: column;
  
    gap: 20px;
}
h1{
  
    text-align: center;
    width: 91%;
}
.bg-gray{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0 ;
    border-radius: 10px;
}
.bg-pink{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    gap: 10px;
}
.head{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.head img{
    
    border-radius: 100%;
}
@media only screen and (min-width: 375px) {
    
    body{
        padding: 3rem;

    }
    .upper-half{
        
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }
    
section{
    margin-bottom: 2rem;
}
.container{

    display: flex;
    flex-direction: column;
  
    gap: 20px;
}
.lower-half{
    width: 100%; 
    
}
#down{
    flex-direction: row;
}




   
  }